/* CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  /*scrollbar-gutter: stable;*/
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Heebo';
  src: url('/Heebo-VariableFont_wght.ttf');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter-VariableFont_slnt,wght.ttf');
  font-weight: 100 900;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

a:hover, a:visited, a:active {
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Global/multi-component rules
NOTE: will ideally have more planned global styles in the future (such as .btn) that are reusable and maybe less of the 'multi-component' type rules that
may only apply to, for example, two components

additionally, think it might be preferable to move the components' styling to separate CSS files
*/

.app-name-part1 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #364652;
}

.app-name-part2 {
  color: #680982;
  font-weight: 200;
}

.title-divider {
  font-weight: 100;
}

.title-part3 {
  font-size: 36px;
  font-weight: 300;
}

.account-form {
  width: 400px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

.text-field {
  width: 400px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(54, 70, 82, 0.65);
  font-size: 16px;
  color: rgba(54, 70, 82, 0.8);
  margin-top: 8px;
  padding-left: 16px;
  font-family: 'Inter', sans-serif;
}

.text-field:focus {
  outline: none;
  border: 1px solid #680982;
  box-shadow: 0 0 4px #680982;
}

label {
  display: block;
  font-family: 'Inter', sans-serif;
}

input {
  display: block;
  font-family: 'Inter', sans-serif;
}

.btn {
  background-color: #680982;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: none;
  cursor: pointer;
}

.account-form .btn {
  border-radius: 4px;
  width: 400px;
  height: 48px;
}

.account-span {
  text-decoration: none;
  color: #680982;
  font-weight: 400;
}

.account-p {
  text-align: center;
  color: #364652;
  font-weight: 300;
}

.sign-up {
  text-decoration: none;
  background-color: #680982;
  color: white;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  display: block;
  border-radius: 4px;
  text-align: center;
}

.offscreen {
  display: none;
}

.hide {
  display: none;
}

.main-textarea {
  width: 730px;
  height: 480px;
  display: block;
  border: 1px solid #364652;
  border-radius: 20px;
  resize: none;
  padding: 12px 22px;
  font-family: 'Inter', sans-serif;
}

.post-en-route.flex-container {
  display: flex;
  min-height: calc(100vh - 105px);
}
 
.post-en-route.flex-container .flex-item.one {
  width: 400px;
  border-right: 1px solid #364652;
}

.post-en-route.flex-container .flex-item.one ul {
  width: 91%;
  margin: 37px auto;
}

.post-en-route.flex-container .notes-li {
  margin: 20px 0;
}

.post-en-route.flex-container .job-details {
  margin-left: 17px;
}

.post-en-route.flex-container .job-details td:nth-child(1) {
  vertical-align: top;
}

.post-en-route.flex-container .job-details td:nth-child(2) {
  padding-left: 5px;
}

.post-en-route.flex-container .job-details td {
  padding-bottom: 5px;
}

.post-en-route.flex-container .flex-item.one button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  height: auto;
  outline: inherit;
  display: block;
  font-size: 16px;
}

.post-en-route.flex-container .flex-item.one span {
  padding-left: 22px;
}

.post-en-route.flex-container .flex-item.one .chevron {
  width: 20px;
}

.post-en-route.flex-container .personal-notes textarea {
  width: 88%;
  height: 500px;
  display: block;
  margin: 0 auto;
  border: 1px solid #364652;
  resize: none;
  padding: 10px;
  font-family: 'Inter', sans-serif;
}

.post-en-route.flex-container .flex-item.two {
  flex-grow: 1;
}

.post-en-route.flex-container h2 {
  font-weight: 300;
  font-size: 28px;
  color: #364652;
}

.post-en-route.flex-container table tr:nth-last-child(1) td {
  padding-bottom: 0;
}

.post-en-route.flex-container .on-focus:focus {
  outline: none;
  border: 1px solid #680982;
  box-shadow: 0 0 4px #680982;
}

.post-en-route.flex-container .cancel {
  text-align: center;
  margin-top: 30px;
}

.post-en-route.flex-container .cancel-p {
  font-weight: 300;
  font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 480px) {
  .app-name-part1 {
    font-size: 36px;
  }

  .title-part3 {
    font-size: 32px;
  }

  .account-form {
    width: 100%;
    padding-left: 12.5px;
    padding-right: 12.5px;
  }

  .text-field {
    width: 100%;
  }

  .account-form .btn {
    width: 100%;
  }
}

/* Loading
TODO: create custom loading bar
modifying style directly in the component probably the best way to accomplish the bar animation
*/

.loading {
  height: 100vh;
  position: relative;
}

.loading p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #364652;
  font-weight: 500;
}

/* Landing */

.landing .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
  gap: 25px;
}

.landing .section {
  max-width: 1000px;
  margin: 67px auto;
}

.landing .section.two {
  margin: 0 auto;
}

.landing .background-div {
  background-color: #F8F2F7;
  padding: 67px 0;
}

.section .light {
  font-weight: 300;
}

.section .bold {
  font-weight: 500;
}

.landing h2 {
  font-weight: 500;
}

.landing span {
  font-weight: 300;
}

.landing .section li {
  margin-bottom: 4px; 
}

.section.two span {
  margin-left: 14px;
}

.section.two .span-text {
  margin-left: 11px;
}

.section.two .span-text.one {
  margin-left: 13px;
}

.section.two .calendar {
  margin-bottom: 2px;
}

.section.three .stopwatch-text {
  margin-left: 17px;
}

.landing .icon-one {
  margin-top: 8px;
}

.section.three span {
  margin-left: 14px;
}

.landing .sign-up {
  width: 148px;
  height: 48px;
  line-height: 48px;
  margin-top: 32px;
}

@media screen and (max-width: 950px) {
  .landing .section {
    margin: 45px auto;
  }

  .landing .background-div {
    padding: 45px 0;
  }

  .landing .section.one .flex-container {
    flex-direction: column-reverse;
  }

  .landing .section.two .flex-container {
    flex-direction: column;
    max-width: fit-content;
    margin: 0 auto;
  }

  .landing .section.two .flex-subcontainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 550px;
  }

  .landing .section .flex-subcontainer .sign-up {
    margin: 0;
  }

  .landing .section.three .flex-container {
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
  }

  .landing .section.three .flex-subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 550px;
    gap: 20px;
  }

  .landing .section.three .flex-subcontainer div {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .landing .section {
    margin: 30px auto;
  }

  .landing .background-div {
    padding: 30px 0;
  }

  .landing .section.one .flex-container div {
    text-align: center;
  }

  .landing .section.two .flex-container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .landing .section.three .flex-container {
    margin-left: 25px;
    margin-right: 25px;
  }

  .landing .section.two .flex-subcontainer {
    display: block;
    width: fit-content;
  }

  .landing .section.two .flex-subcontainer ul {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  .landing .section.three .flex-subcontainer {
    display: block;
    width: 240px;
  }

  .landing .section.three .flex-subcontainer h2 {
    text-align: center;
  }

  .landing .section .flex-subcontainer .sign-up {
    margin: 20px auto 0 auto;
    width: 230px;
    height: 52px;
    line-height: 52px;
  }
}

@media screen and ((max-width: 1024px) or (orientation: portrait)) {
  /*.landing .intro {
    gap: 10px;
    text-align: center;
    margin: 30px 20px 30px 20px;
  }*/
}

/* Navigation bar - public */

.header {
  margin-top: 18px;
  border-top: 1px solid rgba(54, 70, 82, 0.5);
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
}

.nav-subcontainer {
  display: inline;
}

.nav-title {
  color: #364652;
  cursor: default;
  font-weight: 500;
}

.nav-title.large {
  height: 85px;
  line-height: 85px;
}

.nav-title-active {
  color: #680982;
  font-weight: 500;
  cursor: default;
}

.nav-title-active.large {
  height: 85px;
  line-height: 85px;
}

.logo-img {
  display: inline;
  vertical-align: middle;
  margin-bottom: 10px;
}

.logo-part1 {
  font-size: 28px;
  font-weight: 800;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  color: #364652;
}

.logo-part2 {
  color: #680982;
  font-weight: 300;
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #364652;
  font-weight: 500;
}

.nav-link.active {
  color: #680982;
  font-weight: 500;
}

.nav-container {
  margin: 0 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-subcontainer {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  font-weight: 500;
  height: 80px;
}

.hover-nav-parent {
  position: relative;
  z-index: 3;
}

.hover-nav-child-1 {
  position: absolute;
  left: -18px;
}

.hover-nav-child-2 {
  position: absolute;
  left: -10px;
}

.nav-popout-clients {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
  border-left: 1px solid rgba(54, 70, 82, 0.5);
  border-right: 1px solid rgba(54, 70, 82, 0.5);
  background-color: white;
}

.nav-popout-fixers {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
  border-left: 1px solid rgba(54, 70, 82, 0.5);
  border-right: 1px solid rgba(54, 70, 82, 0.5);
  background-color: white;
}

.nav-popout li {
  display: inline-block;
  width: 75px;
  text-align: center;
}

.nav-popout li .nav-link {
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .nav-container {
    margin: 0 120px;
  }
}

@media screen and (max-width: 1050px) {
  .nav-subcontainer {
    justify-content: flex-end;
    gap: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .nav-container {
    margin: 0 80px;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    margin: 0 40px;
  }
}

@media screen and (max-width: 670px) {
  .nav-subcontainer {
    justify-content: flex-end;
    gap: 25px;
    width: fit-content;
  }
}

@media screen and (max-width: 550px) {
  .nav-container {
    margin: 0 15px;
  }

  .nav-subcontainer {
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 10px;
    border-top: 2px solid rgba(54, 70, 82, 0.5);
    border-bottom: 2px solid rgba(54, 70, 82, 0.5);
  }

  .logo-img {
    width: 32px;
    height: 32px;
    margin-bottom: 12px;
  }

  .logo-part1 {
    font-size: 28px;
    margin-top: 6px;
  }

  .nav-subcontainer-mobile img {
    width: 32px;
    height: 32px;
    display: block;
  }

  .nav-subcontainer-mobile .mobile-popout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }

  .mobile-popout li:not(.nav-overlay, .body-overlay) {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid rgba(54, 70, 82, 0.5);
    background-color: white;
    border-left: 1px solid rgba(54, 70, 82, 0.5);
    border-right: 1px solid rgba(54, 70, 82, 0.5);
  }

  .mobile-popout .sub-menu .sub-one {
    border-left: 1px solid rgba(54, 70, 82, 0.5);
    border-right: 0.5px solid rgba(54, 70, 82, 0.5);
  }

  .mobile-popout .sub-menu .sub-two {
    border-left: 0.5px solid rgba(54, 70, 82, 0.5);
    border-right: 1px solid rgba(54, 70, 82, 0.5);
  }

  .nav-subcontainer-mobile a {
    display: inline-block;
    width: 100%;
  }

  .mobile-popout {
    z-index: 2;
  }

  .home {
    z-index: 3;
  }

  .nav-title-active.mobile {
    background-color: #F8F2F7;
  }

  .mobile-popout .sub-menu {
    display: flex;
    width: 100%;
  }

  .mobile-popout .sub-menu li {
    display: inline-block;
  }

  .mobile-popout .nav-overlay {
    height: 67.273px;
    width: 100%;
  }

  .mobile-popout .body-overlay {
    flex-grow: 1;
    width: 100%;
  }
}

/* Navigation bar - private */

.header.private .nav-container {
  margin: 0 44px;
  justify-content: flex-start;
}

.header.private .home {
  margin-right: 20px;
}

.header.private .user-menu {
  margin-left: auto;
}

.header.private .nav-title {
  line-height: 115px;
}

.header.private .hover-nav-parent {
  width: 54px;
  text-align: center;
}

.header.private .hover-nav-parent .nav-title img {
  margin-left: auto;
  margin-right: auto;
}

.header.private .hover-nav-child-2.other-hover-nav {
  left: -11px;
}

.header.private .hover-nav-child-2.other-hover-nav a {
  text-decoration: none;
  color: #364652;
  font-weight: 500;
}

.header.private .nav-popout li {
  background-color: white;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
  border-left: 1px solid rgba(54, 70, 82, 0.5);
  border-right: 1px solid rgba(54, 70, 82, 0.5);
}

.header.private .nav-popout .top {
  border-top: 1px solid rgba(54, 70, 82, 0.5);
}

.header.private .hover-nav-child-2.other-hover-nav a.active {
  text-decoration: none;
  color: #680982;
  font-weight: 500;
}

.header.private .logout {
  cursor: pointer;
  font-weight: 500;
  color: #364652;
}

@media screen and (max-width: 1050px) {
  .header.private .home {
    margin-right: 15px;
  }

  .header.private .nav-subcontainer {
    justify-content: flex-start;
    gap: 30px;
  }
}

@media screen and (max-width: 650px) {
  .header.private .nav-container {
    display: block;
  }

  .header.private .nav-subcontainer-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header.private .home {
    display: inline-block;
    margin-right: 0;
  }

  .header.private .user-menu {
    margin-left: 15px;
  }

  .header.private .nav-subcontainer-mobile img {
    width: 32px;
    height: 32px;
    display: inline-block;
  }


  .header.private {
    margin-top: 10px;
    border-top: 2px solid rgba(54, 70, 82, 0.5);
    border-bottom: 2px solid rgba(54, 70, 82, 0.5);
  }

  .header.private .nav-subcontainer-mobile .logo-img {
    margin-bottom: 12px;
  }

  .header.private .logo-part1 {
    font-size: 28px;
    margin-top: 6px;
    margin-right: 3px;
    margin-left: 4px;
  }

  .header.private .nav-subcontainer-mobile .mobile-popout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
  }

  .header.private .mobile-popout li:not(.nav-overlay, .body-overlay) {
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid rgba(54, 70, 82, 0.5);
    background-color: white;
    border-left: 1px solid rgba(54, 70, 82, 0.5);
    border-right: 1px solid rgba(54, 70, 82, 0.5);
  }

  .header.private .mobile-popout .sub-menu .sub-one {
    border-left: 1px solid rgba(54, 70, 82, 0.5);
    border-right: 0.5px solid rgba(54, 70, 82, 0.5);
  }

  .header.private .mobile-popout .sub-menu .sub-two {
    border-left: 0.5px solid rgba(54, 70, 82, 0.5);
    border-right: 1px solid rgba(54, 70, 82, 0.5);
  }

  .header.private .nav-subcontainer-mobile a {
    display: inline-block;
    width: 100%;
  }

  .header.private .mobile-popout {
    z-index: 2;
  }

  .header.private .home {
    z-index: 3;
  }

  .header.private .mobile-popout .nav-overlay {
    height: 67.273px;
    width: 100%;
  }

  .header.private .mobile-popout .body-overlay {
    flex-grow: 1;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header.private .nav-container {
    margin: 0 20px;
  }
}

/* GetStarted - cover page
TODO: look into setting cache-control header on backend to solve problem of images reloading after refresh API call is made
consider changing fixers image
*/

.learn-more-layout .flex-container {
  display: flex;
}

.learn-more-layout .column {
  flex: 50%;
  height: 110vh;
  position: relative;
}

.learn-more-layout .column.clients {
  background-image: url('/learnmore1.jpg');
  background-size: cover;
  background-position: 57%;
}

.learn-more-layout .column.fixers {
  background-image: url('/learnmore2.jpg');
  background-size: cover;
  background-position: 50%;
}

.learn-more-layout .column img {
  width: 100%;
  height: auto;
  display: block;
}

.learn-more-layout .column .btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 225px;
  height: 90px;
  border-radius: 5px;
}

@media screen and ((max-width: 768px) or (orientation: portrait)) {
  .learn-more-layout .flex-container {
    flex-direction: column;
    height: 120vh;
  }

  .learn-more-layout .column.fixers {
    background-position: 57% 20%;
  }
}

/* GetStarted - more info */

.more-info .title {
  background-color: #F8F2F7;
  text-align: center;
  padding: 30px 0;
  font-size: 22px;
}

.title .part1 {
  font-weight: 200;
  color: #000000;
}

.title .part2 {
  font-weight: 700;
  color: #290533;
}

.title .part2-fixer {
  color: #000000;
  font-weight: 200;
}

.title span {
  font-weight: 700;
  color: #290533;
}

.more-info article {
  width: 70ch;
  margin: 48px auto 0 auto;
  font-size: 20px;
}

.more-info article p {
  font-weight: 200;
  margin-bottom: 29px;
}

.more-info article li {
  font-weight: 200;
}

.more-info article span {
  margin-left: 16px;
}

.more-info .arrow-text {
  margin-left: 24px;
}

.more-info .calendar {
  margin-left: 1px;
}

.more-info .cc-text {
  margin-left: 14px;
}

.more-info .calendar-text {
  margin-left: 19px;
}

.more-info li:nth-child(even) {
  margin: 15px 0 31px 54px;
}

.more-info .sign-up {
  width: 160px;
  height: 64px;
  line-height: 64px;
  margin: 57px auto 0 auto;
}

.more-info .learn-more {
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  margin-top: 35px;
  font-family: 'Inter';
}

.more-info .learn-more-button {
  text-align: center;
 
}

.more-info button {
  border: none;
  background: none;
  color: #680982;
  padding: 0;
  font-family: 'Inter';
  cursor: pointer;
  height: auto;
  outline: inherit;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 40px;
}

@media screen and (max-width: 860px) {
  .more-info article {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 670px) {
  .more-info article {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
  }

  .more-info .arrow-text {
    margin-left: 16px;
  }

  .more-info article span {
    margin-left: 12px;
  }

  .more-info .calendar-text {
    margin-left: 15px;
  }
}

@media screen and (max-width: 550px) {
  .more-info li:nth-child(even) {
    margin: 10px 0 20px 20px;
  }
}

@media screen and (max-width: 480px) {
  .more-info .title {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  } 
  
  .title .part3-fixer-mobile {
    font-weight: 700;
    color: #290533;
  }
}


/* Login
TODO: add styling for error ref (display and offscreen rules)
*/

.login .app-name-part1 {
  margin-top: 100px;
}

.login .account-form {
  margin: 66px auto 0 auto;
}

.login .text-field {
  margin-bottom: 42px;
}

#persist {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
}

#persist:checked {
  accent-color: #364652
}

.persist-label {
  display: flex;
  align-items: center;
  font-weight: 200;
}

.login .btn {
  margin-top: 16px;
}

.login .account-p {
  margin: 66px 0 34px 0;
}

@media screen and (max-width: 480px) {
  .login .title-mobile {
    margin-top: 20px;
    margin-left: 12.5px;
    font-weight: 300;
    text-align: center;
  }

  .login .account-form {
    margin-top: 15px;
  }

  .login .account-p {
    margin-top: 54px;
  }
}

/*
#login .errmsg {
  display: flex;
}

#login .offscreen {
  visibility: hidden;
}
*/


/* Registration 
TODO: valid/invalid, on/offscreen rules
*/

.registration .app-name-part1 {
  margin-top: 30px;
}

.registration .account-form {
  margin: 40px auto 0 auto;
}

.registration .text-field {
  margin-bottom: 20px;
}

.registration .btn {
  margin-top: 60px;
}

.registration .account-p {
  margin: 60px 0 34px 0;
}

.registration .instructions {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .registration .title-mobile {
    margin-top: 20px;
    margin-left: 12.5px;
    font-size: 32px;
    text-align: center;
    font-weight: 300;
  }

  .registration .account-form {
    margin-top: 20px;
  }

  .registration .btn {
    margin-top: 35px;
  }

  .registration .account-p {
    margin: 35px 0 50px 0;
  }

  .registration .text-field {
    margin-bottom: 10px;
  }
}

/*
#registration .offscreen {
  display: none;
}

#registration .valid {
  color: green;
}

#registration .hide {
  display: none;
}

#registration .invalid {
  color: red;
}

#registration .instructions {
  display: block;
}
*/

/* Index */

.index div {
  width: fit-content;
  margin: 30px auto;
}

.index h2 {
  color: #364652;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  background-color: #F8F2F7;
  padding: 40px 0;
}

.index p {
  font-weight: 500;
  font-size: 18px;
}

.index table {
  font-weight: 500;
  margin: 20px auto 0 auto;
}

.index .icon {
  padding-right: 5px;
  padding-top: 2px;
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .index div {
    padding-left: 30px;
    padding-right: 30px;
  }

}

/* Quick Fix - clients */

.sidebar {
  position: absolute;
  width: 27%;
  background-color: white;
  border-radius: 20px;
  max-width: 425px;
  min-width: 276px;
  max-height: 900px;
  min-height: 454px;
  left: 23px;
  top: 128px;
  height: calc(100vh - 151px);
}

.sidebar .flex-container {
  width: 88%;
  
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: 100%;
  margin: 0 auto;
  padding-top: 65px;
  padding-bottom: 65px;
}

.sidebar .flex-container.requesting {
  justify-content: space-between;
  gap: 0;
}

.sidebar .flex-container.requesting .btn {
  margin: 0 auto;
}

.sidebar h2 {
  font-weight: 300;
}

.sidebar.quick-fix h2:nth-child(1) {
  color: #680982;
}

.sidebar form {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sidebar .text-field {
  width: 100%;
  border: 2px solid #364652;
  color: black;
  margin-top: 0;
}

.sidebar .text-field.dropdown {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar .text-field:focus{
    outline: none;
    border: 1px solid #680982;
    box-shadow: 0 0 4px #680982;
}

.sidebar.quick-fix ul {
  position: absolute;
  top: 48px;
  width: 100%;
}

.sidebar.quick-fix ul li {
  display: block;
  font-size: 14px;
  padding: 1px 5px 1px 5px;
  background-color: white;
  border-left: 1px solid rgba(54, 70, 82, 0.8);
  border-right: 1px solid rgba(54, 70, 82, 0.8);
  border-bottom: 1px solid rgba(54, 70, 82, 0.8);
}

.sidebar.quick-fix ul li:hover {
  background-color: #F8F2F7;
}

.sidebar.quick-fix ul li:hover {
  cursor: default;
}

.sidebar .btn {
  width: 120px;
  height: 50px;
  border-radius: 4px;
}

.sidebar .btn:disabled {
  background-color: rgba(104, 9, 130, 0.2);
  cursor: default;
}

/*@media screen and (min-width: 768px) and (max-height: 604px) {
  .sidebar {
    height: 454px;
  }
}*/

@media screen and (max-width: 1100px) {
  .sidebar h2 {
    font-size: 20px;
    font-weight: 300;
  }
}

/* calc(100vw - 160px);*/
/* (max-width: 768px) and (min-height: 650px)*/
@media screen and (orientation: portrait) {
  .sidebar {
    width: 88%;
    max-width: none;
    min-height: 250px;
    height: 250px;
    border-radius: 10px;
    left: 6%;
  }

  .sidebar h2 {
    font-size: 18px;
  }

  .sidebar .flex-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    padding-bottom: 18px;
    gap: 16px;
  }

  .sidebar form {
    height: fit-content;
    gap: 20px;
  }

  .sidebar .text-field {
    width: 90%;
    font-size: 14px;
  }

  .sidebar.quick-fix ul {
    width: 90%;
  }

  .sidebar .btn {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .sidebar {
    top: 90.273px;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    width: 94%;
    left: 3%;
    border-radius: 8px;
    height: 220px;
    min-height: 220px;
    min-width: 300px;
  }

  .sidebar.quick-fix {
    top: 77.273px;
  }

  .sidebar h2 {
    font-weight: 400;
  }

  .sidebar .flex-container {
    padding-top: 10px;
    padding-bottom: 12px;
    gap: 16px;
    justify-content: flex-start;
  }

  .sidebar form {
    margin-top: auto;
    gap: 14px;
  }

  .sidebar .text-field {
    font-weight: 400;
  }

  .sidebar .btn {
    width: 110px;
    height: 45px;
    font-weight: 500;
  }

  .sidebar .btn:disabled {
    font-weight: 600;
  }
}

/* Quick Fix - fixers */

.sidebar.quick-fix.fixers input {
  display: inline-block;
}

.sidebar.quick-fix.fixers input[type='radio'] {
  margin: 0 10px 1px 0;
  appearance: none;
  background-color: #FFF;
  font: inherit;
  color: currentColor;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  border: 0.1rem solid currentColor;
  display: grid;
  place-content: center;
}

.sidebar.quick-fix.fixers input[type='radio']::before {
  content: '';
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 100ms ease-in-out;
  box-shadow: inset 1rem 1rem #680982;
}

.sidebar.quick-fix.fixers input[type='radio']:checked::before {
  transform: scale(1);
}

.sidebar.quick-fix.fixers label {
  display: inline;
}

.sidebar.quick-fix.fixers .flex-label {
  display: flex;
  align-items: center;
}

.sidebar.quick-fix.fixers .flex-container.sub-1 {
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 0;
  padding-top: 20px;
  gap: 45px;
  width: 96%;
}

.sidebar.quick-fix.fixers .text-field {
  height: 48px;
  width: 100%;
}

#querycontainer {
  width: 100%;
  position: relative;
}

#querycontainer.hide {
  visibility: hidden;
  display: block;
}

.sidebar.quick-fix.fixers .btn {
  margin: auto auto 0 auto;
}

.sidebar.quick-fix.fixers .requesting .btn {
  margin: 0 auto;
}

@media screen and (orientation: portrait), (max-width: 480px) {
  .sidebar.quick-fix.fixers {
    min-height: 0;
    height: fit-content;
  }

  .sidebar.quick-fix.fixers .requesting {
    height: 200px;
  }

  .sidebar.quick-fix.fixers h2 {
    font-weight: 400;
  }

  .sidebar.quick-fix.fixers h2:nth-child(1) {
    margin-bottom: 5px;
  }

  .sidebar.quick-fix.fixers h2:nth-child(2) {
    margin-bottom: 20px;
  }

  .sidebar.quick-fix.fixers .requesting h2 {
    margin: 0;
  }

  .sidebar.quick-fix.fixers .flex-container.main {
    justify-content: flex-start;
    gap: 0;
    padding: 15px 0;
  }

  .sidebar.quick-fix.fixers .flex-container.sub-1 {
    gap: 25px;
    padding-top: 15px;
  }

  .sidebar.quick-fix.fixers .flex-container.sub-2 {
    flex-direction: row;
    padding: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #querycontainer {
    width: 90%;
    margin: 0 auto;
  }

  #querycontainer ul {
    width: 100%;
  }

  #querycontainer.hide {
    display: none;
  }
}

@media screen and (max-width: 451px) {
  .sidebar.quick-fix.fixers .flex-container.sub-1 {
    padding-top: 0;
  }
}

/* Confirmation - clients - en route */

.sidebar.confirmation {
  top: 128px;
  min-height: 530px;
}

.sidebar.confirmation h2 {
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  padding: 33px 0;
  background-color: #680982;
  color: white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.sidebar.confirmation table {
  margin: 30px 25px 0 25px;
  font-family: 'Inter', sans-serif;
}

.sidebar.confirmation tr td {
  padding-bottom: 20px;
}

.sidebar.confirmation tr td:nth-child(1) {
  vertical-align: top;
  padding-top: 2px;
}

.sidebar.confirmation tr td:nth-child(2) {
  padding-left: 25px;
}

.btn.re-center {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 120px;
  height: 60px;
  border-radius: 4px;
  color: white;
  background-color: rgba(54, 70, 82, 0.5);
}

.sidebar.confirmation .cancel {
  position: absolute;
  bottom: 30px;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.sidebar.confirmation .cancel-p {
  margin-bottom: 0;
  font-size: 16px;
  text-align: center;
  margin-top: auto;
  font-family: 'Inter';
  font-weight: 200;
}

.sidebar.confirmation .cancel-button {
  text-align: center;
 
}

.cancel-button button {
  border: none;
  background: none;
  color: #680982;
  padding: 0;
  font-family: 'Inter';
  cursor: pointer;
  height: auto;
  outline: inherit;
  font-size: 16px;
  font-weight: 200;
}

@media screen and (orientation: portrait) and (max-width: 650px) {
  .btn.re-center {
    top: 67.273px;
  }

}

@media screen and (orientation: portrait) and (min-width: 650px) {
  .btn.re-center {
    top: 105px;
  }

}

@media screen and (orientation: portrait), (max-width: 480px) {
  .btn.re-center {
    right: 0;
    bottom: auto;
    border-radius: 0;
    border-bottom-left-radius: 4px;
  }

  .mobile-btn {
    position: absolute;
    width: 88%;
    left: 6%;
  }

  .mobile-btn.show-content {
    bottom: 23px;
  }

  .mobile-btn.hide-content {
    bottom: 385px;
  }

  .mobile-btn button {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    height: auto;
    outline: inherit;
    display: block;
    margin: 0 auto 5px auto;
  }

  .mobile-btn h2 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 12px 0;
    background-color: #680982;
    color: white;
    border-radius: 20px;
  }

  .mobile.confirmation {
    position: absolute;
    width: 88%;
    bottom: 23px;
    left: 6%;
    background-color: white;
    border-radius: 20px;
    height: 360px;
  }

  .mobile.confirmation .flex-container-mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  .mobile.confirmation h2 {
    text-align: center;
    padding: 12px 0;
    background-color: #680982;
    color: white;
    font-weight: 700;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 20px;
  }

  .mobile.confirmation table {
    margin-left: 10px;
  }

  .mobile.confirmation tr td {
    padding-bottom: 10px;
  }

  .mobile.confirmation tr td:nth-child(1) {
    vertical-align: top;
    padding-top: 2px;
  }
  
  .mobile.confirmation tr td:nth-child(2) {
    padding-left: 10px;
  }

  .mobile.confirmation .cancel {
    text-align: center;
    margin-bottom: 5px;
  }

}

/* Confirmation - clients - post-en-route */

.post-en-route.flex-container.clients .flex-item.two.info-secondary {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  gap: 30px;
}

.post-en-route.flex-container.clients .cancel {
  margin-top: auto;
  margin-bottom: 30px;
}

.post-en-route.flex-container.clients .quote-container {
  width: 730px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid #364652;
  border-radius: 20px;
  gap: 20px;
}

.post-en-route.flex-container.clients .quote-container .quote-p {
  padding: 0 10px;
  text-align: center;
}

.post-en-route.flex-container.clients .quote-container .note-p {
  margin: auto auto 20px auto;
}

.post-en-route.flex-container.clients .quote-container .header-div {
  display: flex;
  height: 107px;
  line-height: 107px;
  border-bottom: 1px solid #364652;
  background-color: #F8F2F7;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.post-en-route.flex-container.clients .quote-container .header-div h2:nth-child(1) {
  width: 233px;
  color: #364652;
  font-weight: 700;
  border-right: 2px solid #364652;
}

.post-en-route.flex-container.clients .quote-container .header-div h2:nth-child(2) {
  flex-grow: 1;
  color: #680982;
  font-weight: 700;
}

.post-en-route.flex-container.clients .quote-container .body-div {
  overflow-y: auto;
}

.post-en-route.flex-container.clients .button-container {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 20px 0 20px 0;
}

.post-en-route.flex-container.clients .button-container button {
  height: 64px;
  width: 160px;
  border-radius: 4px;
}

.post-en-route.flex-container.clients .button-container button:nth-child(2) {
  background-color: #364652;
}

.post-en-route.flex-container.clients .flex-item.two.info-secondary.main {
  gap: 45px;
}

@media screen and (max-width: 1200px) {
  .post-en-route.flex-container.clients .flex-item.one {
    flex-basis: 32%;
  }

  .post-en-route.flex-container.clients .flex-item.two {
    flex-basis: 68%;
  }

  .post-en-route.flex-container.clients .flex-item.two form {
    width: 90%;
  }

  .post-en-route.flex-container.clients .flex-item.two.info-secondary {
    padding: 0 10px;
  }

  .post-en-route.flex-container.clients .quote-container {
    width: 92%;
  }
}

@media screen and (max-width: 1024px) {
  .post-en-route.flex-container.clients .quote-container div h2 {
    font-size: 26px;
  }

  .post-en-route.flex-container.clients .quote-container {
    gap: 12px;
  }
  
  .post-en-route.flex-container.clients .quote-container .note-p {
    margin: auto auto 10px auto;
    padding: 10px;
  }
}

@media screen and (max-width: 768px), (orientation: portrait) {
  .post-en-route.flex-container.clients {
    flex-direction: column;
    flex-basis: auto;
  }

  .post-en-route.flex-container.clients .flex-item.one {
    width: 100%;
    border-right: none;
    
    border-bottom: 1px solid #364652;
  }

  .post-en-route.flex-container.clients .personal-notes textarea {
    height: 350px;
  }
}

@media screen and (max-width: 650px) {
  .post-en-route.flex-container.clients {
    min-height: calc(100vh - 67.273px);
  }

  .post-en-route.flex-container.clients .flex-item.one {
    border-top: none;
    border-bottom: 2px solid rgba(54, 70, 82, 0.5);
  }
}

@media screen and (max-width: 480px) {
  .post-en-route.flex-container.clients .flex-item.two form .main-textarea {
    height: 300px;
  }

  .post-en-route.flex-container.clients .quote-container div h2 {
    font-size: 24px;
  }

  .post-en-route.flex-container.clients .quote-container div h2:nth-child(1) {
    width: 200px;
  }
}

@media screen and (max-width: 375px) {
  .post-en-route.flex-container.clients .button-container {
    gap: 25px;
    margin: 15px 0 15px 0;
  }
  
  .post-en-route.flex-container.clients .button-container button {
    height: 60px;
    width: 150px;
  }
}

/* Confirmation - fixers - en route */

.sidebar.confirmation.fixers {
  min-height: 654px;
}

.sidebar.confirmation.fixers h2 {
  padding: 25px 0;
}

.sidebar.confirmation.fixers table {
  margin: 20px auto 0 auto;
  width: 86%;
}

.sidebar.confirmation.fixers .chevron-btn {
  position: relative;
}

.confirmation.fixers .chevron-btn button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  height: auto;
  outline: inherit;
  display: block;
}

.confirmation.fixers .directions {
  position: absolute;
  font-size: 12px;
  margin-top: 10px;
}

.confirmation.fixers .directions ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  background-color: #F8F2F7;
  border-radius: 10px;
  border: 1px solid #364652;
}

.confirmation.fixers .arrival.btn {
  margin: auto;
  display: block;
}

.confirmation.fixers table tr a {
  text-decoration: none;
  color: #680982;
}

.sidebar.confirmation.fixers .flex-container-mobile {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar.confirmation.fixers .cancel {
  position: static;
  margin-bottom: 20px;
}

@media screen and (orientation: portrait), (max-width: 480px) {

  .mobile.confirmation.fixers {
    height: 400px;
  }

  .mobile-btn.hide-content.fixers {
    bottom: 425px;
  }

  .mobile.confirmation.fixers .arrival.btn {
    width: 110px;
    height: 45px;
    border-radius: 4px;
    margin: 0 auto;
  }

  .mobile.confirmation.fixers .flex-container.mobile.fixers {
    gap: 10px;
  }

  .mobile.confirmation.fixers .chevron-td {
    padding-bottom: 0;
    padding-top: 5px;
  }

  .mobile.confirmation.fixers .chevron-btn {
    position: static;
  }

  .mobile.confirmation.fixers .directions {
    position: fixed;
    top: 90.273px;
    left: calc(34vw * 0.88)
    
  }

  .mobile.confirmation.fixers .directions ol {
    width: calc(300% * 0.88);
    padding-left: 50%;
  }
}

/* Confirmation - fixers - post-en-route */

.post-en-route.flex-container.fixers .flex-item.two form {
  width: 730px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.post-en-route.flex-container.fixers .flex-item.two.info-secondary {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  gap: 30px;
}

.post-en-route.flex-container.fixers .cancel {
  margin-top: auto;
  margin-bottom: 30px;
}

.post-en-route.flex-container.fixers .flex-item.two .left {
  align-self: flex-start;
}

.post-en-route.flex-container.fixers .flex-item.two .dollar-div {
  margin-top: 8px;
  width: 256px;
  height: 48px;
  display: flex;
}

.post-en-route.flex-container.fixers .flex-item.two .dollar-div div {
  display: inline-block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 40px;
  border: none;
  z-index: 2;
  font-weight: 300;
}

.post-en-route.flex-container.fixers .flex-item.two .dollar-div input {
  display: inline-block;
  height: 48px;
  width: 256px;
  box-shadow: none;
  border: 1px solid #364652;
  border-radius: 8px;
  position: absolute;
  padding-left: 32px;
}

.post-en-route.flex-container.fixers .flex-item.two .dollar-div input:focus {
  outline: none;
  border: 1px solid #680982;
  box-shadow: 0 0 4px #680982;
}

.post-en-route.flex-container.fixers .flex-item.two form .main-textarea {
  width: 100%;
  height: 480px;
  display: block;
  border: 1px solid #364652;
  border-radius: 20px;
  resize: none;
  padding: 12px 22px;
  font-family: 'Inter', sans-serif;
}

.post-en-route.flex-container.fixers .flex-item.two .btn {
  width: 140px;
  height: 64px;
  border-radius: 4px;
}

.post-en-route.flex-container.fixers .flex-item.two .btn:disabled {
  background-color: rgba(104, 9, 130, 0.2);
}

.post-en-route.flex-container.fixers .flex-item.two.main-secondary {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
  text-align: center;
  gap: 30px;
}

.post-en-route.flex-container.fixers .main-secondary .main-textarea {
  margin: 0 auto;
  height: 416px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.post-en-route.flex-container.fixers .main-secondary .btn-div {
  width: 730px;
  height: 64px;
  margin: 0 auto;
  text-align: right;
  background-color: #F8F2F7;
  border: 1px solid #364652;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.post-en-route.flex-container.fixers .main-secondary .btn-div .btn {
  border-radius: 0;
  border-bottom-right-radius: 18px;
  height: 100%;
  background-color: #364652;
}

.post-en-route.flex-container.fixers .main-secondary .btn.complete {
  margin: 20px auto 0 auto;
}

.post-en-route.flex-container.fixers .flex-item.two form .quote-div {
  display: flex;
  text-align: left;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}

.post-en-route.flex-container.fixers .flex-item.two form .quote-div button {
  background-color: #364652;
}

#submit-revised {
  margin: 30px 0;
}

.post-en-route.flex-container.fixers .main-secondary .quote-decision {
  width: 300px;
  height: 130px;
  padding: 15px;
  background-color: #F8F2F7;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #364652;
}

.post-en-route.flex-container.fixers .main-secondary .quote-decision.declined {
  height: 165px;
  width: 320px;
}

.post-en-route.flex-container.fixers .main-secondary .quote-decision .flex-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.post-en-route.flex-container.fixers .main-secondary .quote-decision .flex-container div {
  text-align: center;
}

.post-en-route.flex-container.fixers .main-secondary .quote-decision .btn {
  width: 120px;
  height: 45px;
}

@media screen and (max-width: 1200px) {
  .post-en-route.flex-container.fixers .flex-item.one {
    flex-basis: 32%;
  }

  .post-en-route.flex-container.fixers .flex-item.two {
    flex-basis: 68%;
  }

  .post-en-route.flex-container.fixers .flex-item.two form {
    width: 90%;
  }

  .post-en-route.flex-container.fixers .flex-item.two.info-secondary {
    padding: 0 10px;
  }

  .post-en-route.flex-container.fixers .main-secondary .main-textarea,
  .post-en-route.flex-container.fixers .main-secondary .btn-div {
    width: 92%;
  }
}

@media screen and (max-width: 768px), (orientation: portrait) {
  .post-en-route.flex-container.fixers {
    flex-direction: column;
    flex-basis: auto;
  }

  .post-en-route.flex-container.fixers .flex-item.one {
    width: 100%;
    border-right: none;
    
    border-bottom: 1px solid #364652;
  }

  .post-en-route.flex-container.fixers .personal-notes textarea {
    height: 350px;
  }

  .post-en-route.flex-container.fixers .main-secondary {
    width: 100%;
  }

  .post-en-route.flex-container.fixers .main-secondary .main-textarea,
  .post-en-route.flex-container.fixers .main-secondary .btn-div {
    width: 88%;
  }
}

@media screen and (max-width: 650px) {
  .post-en-route.flex-container.fixers {
    min-height: calc(100vh - 67.273px);
  }

  .post-en-route.flex-container.fixers .flex-item.one {
    border-top: none;
    border-bottom: 2px solid rgba(54, 70, 82, 0.5);
  }
}

@media screen and (max-width: 480px) {
  .post-en-route.flex-container.fixers .flex-item.two form .main-textarea {
    height: 300px;
  }

  #submit-cancel-btns {
    display: flex;
    gap: 15px;
  }

  #submit-revised {
    margin: 20px 0;
  }

  #cancel-update {
    margin: 20px 0;
    background-color: #364652;
  }

}

/* Confirmation - fixers - finalizing */

.finalizing {
  text-align: center;
}

.finalizing .job-complete {
  margin: 100px auto 0 auto;
  color: #680982;
  font-weight: 600;
}

.rating {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38px;
}

.rating h2 {
  color: #364652;
  font-weight: 600;
}

.rating form {
  display: flex;
}

.rating form input {
  display: block;
  appearance: none;
  width: 90px;
  height: 72px;
  background: url('/star-filled-gold.svg') no-repeat center;
  margin: 0;
  padding: 0;
}

.rating form:not(:hover) input:indeterminate,
.rating form:not(:hover) input:checked ~ input,
.rating form input:hover ~ input {
  background: url('/star-unfilled.svg') no-repeat center;
}

.post-rating {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-rating h2 {
  color: #364652;
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .finalizing h2 {
    font-size: 22px;
  }

  .finalizing .job-complete {
    margin: 70px auto 0 auto;
  }

  .rating form input {
    width: 65px;
    height: 50px;
    background: url('/star-filled-small.svg') no-repeat center;
  }
  
  .rating form input:hover ~ input,
  .rating form:not(:hover) input:checked ~ input,
  .rating form:not(:hover) input:indeterminate {
    background: url('/star-unfilled-small.svg') no-repeat center;
  }

  .rating form {
    flex-direction: column;
    gap: 38px;
  }

  .rating form div {
    display: flex;
  }

  .rating form .btn {
    width: 140px;
    height: 56px;
    margin: 0 auto;
    border-radius: 4px;
  }
}



/* Under construction */

.under-construction {
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  position: absolute;
  top: 50%;
  text-align: center;
}

.construction-icon {
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  .under-construction {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .under-construction {
    font-size: 16px;
  }
}

/* Error page - basic, revisit */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}