/* CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
  scrollbar-gutter: stable;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Heebo';
  src: url('/Heebo-VariableFont_wght.ttf');
  font-weight: 100 900;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Heebo', sans-serif;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}



/* Landing */


/* NavLinks - placeholder ruleset */

.header {
  margin-top: 18px;
  border-top: 1px solid rgba(54, 70, 82, 0.5);
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
}

nav ul li {
  display: inline;
}

.nav-title {
  color: #364652;
  cursor: default;
  height: 85px;
  line-height: 85px;
}

.nav-title-active {
  color: #680982;
  font-weight: 350;
  cursor: default;
  height: 85px;
  line-height: 85px;
}

.logo-img {
  color: black;
  display: inline;
  vertical-align: middle;
  margin-bottom: 10px;
}

.logo-part1 {
  font-size: 28px;
  font-weight: 800;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
}

.logo-part2 {
  color: #680982;
  font-weight: 300;
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #364652;
  font-weight: 300;
}

.nav-link.active {
  color: #680982;
  font-weight: 350;
}

.nav-container {
  margin: 0 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-subcontainer {
  display: flex;
  align-items: center;
  width: 300px;
  justify-content: space-between;
  font-weight: 300;
  height: 80px;
}

.hover-nav-parent {
  position: relative;
  z-index: 3;
}

.hover-nav-child-1 {
  position: absolute;
  left: -18px;
}

.hover-nav-child-2 {
  position: absolute;
  left: -10px;
}

.nav-popout-clients {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
  border-left: 1px solid rgba(54, 70, 82, 0.5);
  border-right: 1px solid rgba(54, 70, 82, 0.5);
  background-color: white;
}

.nav-popout-fixers {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid rgba(54, 70, 82, 0.5);
  border-left: 1px solid rgba(54, 70, 82, 0.5);
  border-right: 1px solid rgba(54, 70, 82, 0.5);
  background-color: white;
}

.hover-nav-child-2 {
  position: absolute;
}

.nav-popout li {
  display: inline-block;
  width: 75px;
  text-align: center;
}

.nav-popout-learn-more li {
  display: inline-block;
  width: 75px;
  text-align: center;
}

/* GetStarted component - placeholder rulesets */
.flex-container {
  display: flex;
}

.column {
  flex: 50%;
  position: relative;
}

.column img {
  width: 100%;
  height: auto;
  display: block;
}

.column .btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #680982;
  color: white;
  font-size: 16px;
  font-family: 'Heebo', sans-serif;
  width: 225px;
  height: 90px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .flex-container .column {
    margin: 0;
    padding: 0;
    border: none;
  }
}

/* Login - placeholders */

/*#login input {
  display: block;
}

#login .errmsg {
  display: flex;
}

#login .offscreen {
  visibility: hidden;
}

.persistCheck {
  display: flex;
}*/

/* Registration - placeholders */

#registration .errmsg {
  display: inline;
}

#registration input {
  display: block;
}

#confirm_pwd {
  display: block;
}

#registration .offscreen {
  display: none;
}

#registration .valid {
  color: green;
}

#registration .hide {
  display: none;
}

#registration .invalid {
  color: red;
}

#registration .instructions {
  display: block;
}

/* Nav */

#logout {
  text-decoration: underline;
}

#logout:hover {
  cursor: pointer;
}

/* Quick Fix */

.offscreen {
  display: none;
}

.sidebar {
  position: absolute;
  width: 20%;
  top: 92px; /* temporary fix...this needs to somehow be positioned in relation to the nav bar */ 
  height: 80vh;
  padding: 20px;
  border-right: 10px solid whitesmoke;
  background-color: white;
}

.hide {
  display: none;
}

/* Error page - basic, revisit */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}