/* CSS reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* NavLinks - placeholder ruleset */

nav ul li {
  color: rgb(14, 57, 14);
}

.active {
  background-color: rgb(236, 220, 194);
}

/* GetStarted component - placeholder rulesets */
.userInfoOn {
  display: inline-block;
}

.userInfoOff {
  display: none;
}

.fixerInfoOn {
  display: inline-block;
}

.fixerInfoOff {
  display: none;
}

.moreUserInfo {
  background-color: white;
}

.moreFixerInfo {
  background-color: white;
}

/* Login - placeholders */
#login {
  background-color: white;
}

#login input {
  display: block;
}

#login .errmsg {
  display: flex;
}

#login .offscreen {
  display: flex;
}

.persistCheck {
  display: flex;
}

.needAccount {
  display: flex;
}

/* Registration - placeholders */

#registration {
  display: inline-block;
}

#registration .errmsg {
  display: inline;
}

#registration input {
  display: block;
}

#confirm_pwd {
  display: block;
}

#registration .offscreen {
  display: none;
}

#registration .valid {
  color: green;
}

#registration .hide {
  display: none;
}

#registration .invalid {
  color: red;
}

#registration .instructions {
  display: block;
}

.dontNeedAccount {
  display: flex;
}

/* Nav */

#logout {
  text-decoration: underline;
}

#logout:hover {
  cursor: pointer;
}

/* Quick Fix */

.offscreen {
  display: none;
}

.sidebar {
  position: absolute;
  width: 20%;
  top: 92px; /* temporary fix...this needs to somehow be positioned in relation to the nav bar */ 
  height: 80vh;
  padding: 20px;
  border-right: 10px solid whitesmoke;
  background-color: white;
}

.hide {
  display: none;
}

/* Error page - basic, revisit */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}